<h1>This should be the fitness_classes index</h1>

<p>
  <a href="/fitness_classes/new">New Class</a>
</p>


<table>
  <tr>
    <th>Name</th>
    <th>Day</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <% for fitness_class in @fitness_classes %>
  <tr>
    <td><a href="/fitness_classes/<%= fitness_class.id %>"><%= fitness_class.name %></a></td>
    <td><%= fitness_class.class_day %></td>
    <td><%= fitness_class.start_time %></td>
    <td><%= fitness_class.end_time %></td>
  </tr>
  <% end %>
</table>
